html, body, .app, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-header {
  height: 58px;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.app-main-body{
  display:flex;
  flex-direction:column;

  width: 100%;
  height: calc(100% - var(--header-height));

  margin: 0 auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
}

.app-title{
    font-size: 38px;
    font-weight: 700;
}

.tetris-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}
.tetris-grid {
  display: grid;
  
  justify-content: center;
  align-items: center;
  

}
.grid-cell{
  display: flex;
  text-align: center;
  font-size:28px;
  border: 1px solid black;
  height: 2em;
  width: 2em;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.letter-queue {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  flex: 0;
  
}

.letter-queue-item{
  display: flex;
  text-align: center;
  font-size:18px;
  border-radius: 10px;
  border: 1px solid black;
  background-color:azure;
  height: 2em;
  width: 2em;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.letter-queue-item-first{
  background-color:lightpink; 
  font-size: 22px;
}

.score-display{
  text-transform: uppercase;
  font-size: 40px;
}